
/*=============== GOOGLE FONTS ===============*/

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --header-height: 3.5rem;
  --first-hue: 207;
  --sat: 90%;
  --lig: 47%;
  --second-hue: 219;
  --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--first-hue), var(--sat), 71%);
  --first-color-second: hsl(var(--first-hue), var(--sat), 60%);
  --first-color-third: hsl(var(--first-hue), var(--sat), 90%);
  /* -4% */
  --title-color: hsl(var(--second-hue), 15%, 95%);
  --text-color: hsl(var(--second-hue), 8%, 75%);
  --text-color-light: hsl(var(--second-hue), 4%, 55%);
  --body-color: hsl(var(--second-hue), 48%, 8%);
  --container-color: hsl(var(--second-hue), 32%, 12%);
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --biggest-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semibold: 600;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
  /*========== Margins Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
}
/*=============== BASE ===============*/
* {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
  font-family: 'JetBrains Mono', monospace !important;
  background-color: #EEEEEE !important;
}

html {
  scroll-behavior: smooth !important;
}

/* #Hero{
  scale: 0.8;
}
#About{
  scale: 0.8;
}
#Portfolio{
  scale: 0.8;
} */

.Logo{
  display: none ;
}

@media (min-width: 1800px) {
  #Hero{
    scale: 1;
  }
  #About{
    scale: 1;
  }
  #Portfolio{
    scale: 1;
  }
}