@media (max-width: 480px) {

  /*========== Hero ==========*/

    #Hero{
        scale: 0.5 !important;
      }
      .profile__cont {
        width: 350px; /* This should be the same as the .imgProfile width */
        height: 350px; /* This should be the same as the .imgProfile height */
    }
    
    .imgProfile {
        height: 350px;
        width: 350px;
    }
    
    .profile__border {
        width: 400px;
        height: 400px;
    }
      .mt--2 {
        margin-top: 0 !important;
      }
      .home__scroll{
        scale: 1.5 !important;
      }
  }