@media (max-width: 480px) {

  /*========== Nav ==========*/

  #header {
    display: none !important;
  }
.Logo{
  display: block !important;
  height: 3rem;
}
  /*========== Hero ==========*/

  #Hero {
    scale: 0.6 !important;

  }
  .height-screen{
    height: 100svh !important;
    
  }
  .profile__cont {
    width: 350px;
    /* This should be the same as the .imgProfile width */
    height: 350px;
    /* This should be the same as the .imgProfile height */
  }

  .imgProfile {
    height: 350px;
    width: 350px;
  }

  .profile__border {
    width: 400px;
    height: 400px;
  }
  .ProfileImage{
    margin-top: 2rem;
  }
  .mt--2 {
    margin-top: 0 !important;
  }

  .home__scroll {
    scale: 1.5 !important;
  }
}

@media (max-width: 1280px) {

  /*========== Project ==========*/
  .reverse {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}